# Dependency directories

crates/warp-contracts/target
crates/pst/contract/definition/bindings/
crates/pst/cache/

# Optional eslint cache
.eslintcache


# WebStorm Local files
.idea/

.DS_Store

yarn-error.log

.experiments/

yalc.lock

.yalc/

/cache/

/db/

.secrets
logs

target
metafile.json